<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong><%= vars.product_full %></strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/index.html">Overview</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/release-notes.html">Release Notes</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/architecture.html">Architecture</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Installing, Configuring, and Upgrading</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/install-operator.html">Installing the Operator</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/upgrade-operator.html">Upgrading the Operator</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Managing Instances</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/create-delete-mysql.html">Creating and Deleting Instances</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-2/update-instance.html">Updating Instances</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/upgrade-instance.html">Upgrading Instances</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/high-availability.html">Configuring High Availability</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/monitoring.html">Monitoring Instances</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-2/rotating-credentials.html">Rotating MySQL Credentials</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Accessing and Connecting to Instances</strong></div>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-2/accessing.html">Accessing Instances</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-2/configure-tls.html">Configuring TLS </a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-2/connecting-apps.html">Connecting Apps</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-2/connecting-tas.html">Binding a TAS Application to a MySQL Instance</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Backing Up and Restoring</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/backup-restore.html">Backing Up and Restoring MySQL Instances</a>
      </li>
    </ul>
    
    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Reference</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/property-reference-mysql.html">Property Reference for MySQL Resource</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-2/property-reference-backup-restore.html">Property Reference for Backup and Restore</a>
      </li>
    </ul> 
  </div>
</div><!--end of sub-nav-->
