<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong><%= vars.product_full %></strong> (Beta)</div>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/index.html">Overview</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/release-notes.html">Release Notes</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/architecture.html">Architecture</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Installing, Configuring, and Upgrading</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/install-operator.html">Installing the Operator</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/upgrade-operator.html">Upgrading the Operator</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Managing an Instance</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/create-delete-mysql.html">Creating and Deleting an Instance</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/property-reference-tanzumysql.html">Property Reference for tanzumysql.yml</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/0-2/update-instance.html">Updating an Instance</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/0-2/rotating-credentials.html">Rotating MySQL Credentials</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Accessing and Connecting to an Instance</strong></div>
      <li>
        <a href="/tanzu-mysql-kubernetes/0-2/accessing.html">Accessing an Instance</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/0-2/configure-tls.html">Configuring TLS for an Instance</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/0-2/bind-app.html">Connecting an App to the Instance</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Backing Up and Restoring</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/backup-restore.html">Backing Up and Restoring</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/0-2/property-reference-backup-restore.html">Property Reference for Backup and Restore</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
