<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong><%= vars.product_full %></strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/index.html">Overview</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/release-notes.html">Release Notes</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/architecture.html">Architecture</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Installing, Configuring, and Upgrading</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/install-operator.html">Installing the Operator</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/upgrade-operator.html">Upgrading the Operator</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Managing Instances</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/create-delete-mysql.html">Creating and Deleting MySQL Instances</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/high-availability.html">Configuring MySQL Instances for High Availability</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/property-reference-mysql.html">Property Reference for MySQL Resource</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-1/update-instance.html">Updating MySQL Instances</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-1/rotating-credentials.html">Rotating MySQL Credentials</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Accessing and Connecting to Instances</strong></div>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-1/accessing.html">Accessing MySQL Instances</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-1/configure-tls.html">Configuring TLS for MySQL Instances</a>
      </li>
      <li>
        <a href="/tanzu-mysql-kubernetes/1-1/connecting-apps.html">Connecting Apps to MySQL Instances</a>
      </li>
    </ul>

    <ul>
      <div class="menu-item js-menu-item menu-title js-menu-title"><strong>Backing Up and Restoring MySQL Instances</strong></div>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/backup-restore.html">Backing Up and Restoring MySQL Instances</a>
      </li>
      <li>
         <a href="/tanzu-mysql-kubernetes/1-1/property-reference-backup-restore.html">Property Reference for Backup and Restore</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
