<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li class="has_submenu">
        <span><strong>About <%= vars.product_full %></strong></span>
        <ul>
          <li>
             <a href="/tanzu-mysql-kubernetes/1-n/index.html">Overview</a
          </li>
          <!-- <li>
            <a href="/tanzu-mysql-kubernetes/1-n/release-notes.html">Release Notes</a>
          </li> -->
        </ul>
      </li>

      <li class="has_submenu">
        <span><strong>Installing and Configuring</strong></span>
          <ul>
            <li>
              <a href="/tanzu-mysql-kubernetes/1-n/installing.html">Installing the Tanzu MySQL for Kubernetes Operator</a>
            </li>
            <li>
              <a href="/tanzu-mysql-kubernetes/1-n/upgrade-operator.html">Upgrading the Tanzu MySQL Operator</a>
            </li>
            <li>
              <a href="/tanzu-mysql-kubernetes/1-n/bind-app.html">Connecting an App to the Tanzu MySQL Instance</a>
           </li>
        </ul>
      </li>

      <li>
        <a href="/tanzu-mysql-kubernetes/1-n/rotating-root.html">Rotating MySQL Root Credentials
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
