<% if product_info['local_product_version'].to_f >= 2.9 %>
  <p class="note"><em><strong>Note:</strong>
  In v2.9 and later,
  MySQL for VMware Tanzu is named <%= vars.product_full %>.
  </em>
  </p>
<% end %>
